html
	head
		title!= title
		link(rel="shortcut icon", type="image/x-icon", href="/images/favicon.ico")
		link(rel="stylesheet", type="text/css", href="/css/404.css")
	body
		div
			h1!= error
			h2!= errorMassage
		div
			p!= url
				span : Not Found
		div
			p callback webside 
				a(href=hostnameB)!= hostnameA
